<section id="hello" class="home">
    <div class="overlay"></div>
    <div class="row">
        <div class="main_home text-center">
            <div>
                <h1 class="color ancho" style="font-size: 4rem;">Nosotros</h1>
            </div>
        </div>
    </div>
    <br>
</section>

<section id="gallery" class="gallery margin-top-120 contact fix home">
    <!-- Gallery container-->
    <div class="container-fluid medida" style="width: 80%;">

        <div class="row">
            <div class="main-gallery roomy-50">

                <h1 class="color text-uppercase mb-3" style="text-align: center;">misión</h1>
                <br>
                <p style="justify-content: center; text-align: center;">Tejido dorado, es una empresa de origen artesanal y de naturaleza familiar, pues el proceso del oro a mano en sus diferentes formas ha evolucionado a través de los años de padre a hijos y de estos a las actuales generaciones, para garantizar
                    la nobleza y la calidad en el tratamiento mental, la innovación en los diseños para darle satisfacción a un público exigente, tanto nacional como internacional y seguir creciendo con honestidad, <br> cumplimiento y la garantía de ofrecer
                    un accesorio único, refinado, como prenda de <br> exhibición y buen gusto. Conservando en el tiempo el primer lugar que nos caracteriza <br> en el trabajo hecho a mano.</p>

            </div>

            <div class="main-gallery roomy-50">

                <h1 class="text-uppercase mb-3" style="text-align: center; color: #B59763;">visión</h1>
                <br>
                <p style="justify-content: center; text-align: center;">Tejido dorado pretende posicionarse como una empresa única, <br> reconocida en la orfebrería local y el mundo de la joyería artesanal.
                </p>

                <p style="justify-content: center; text-align: center;">
                    Mediante una labor con valores y principios que garanticen la permanencia y <br> el crecimiento continúo en el arte de la filigrana con la originalidad y <br> exclusividad de nuestros diseños.
                </p>

                <p style="justify-content: center; text-align: center;">
                    Orientada a un público exigente, amante del arte, del trabajo hecho a mano y <br> convencido de que es poseedor de una joya especial, de buena procedencia, <br> bien tratada, con un manejo familiar y generacional que dan a más de un
                    valor <br> agregado la particularidad de ser arte único
                </p>

            </div>
            <div class="main-gallery roomy-50">
                <br>
                <h1 class="color text-uppercase mb-3" style="text-align: center;">politicas de calidad</h1>

                <p style="justify-content: center; text-align: center;">Tejido dorado seguirá proyectando como política de desarrollo integral, <br> el trabajo en equipo, con los demás joyeros en filigrana; mediante el
                    <br> fortalecimiento y mejoramiento continuo de los diferentes procesos, <br> para satisfacer las expectativas de un público exigente y amante del oro.</p>


            </div>

            <div class="main-gallery roomy-50">
                <br>
                <h1 class="color text-uppercase mb-3" style="text-align: center;">Objetivos de calidad</h1>
                <br>
                <p style="justify-content: center; text-align: center;">Fortalecer los sistemas de control, diseño y calidad en los diferentes procesos <br> de comercialización, innovación y posicionamiento de la filigrana en el contexto <br> local, nacional y mundial, para satisfacer a un público creciente
                    y <br> exclusivo en la joyería.
                </p>
            </div>


        </div>
    </div>
    <!-- Portfolio container end -->
</section>
<!-- End off portfolio section -->



<!-- scroll up-->
<div class="scrollup" (click)="scrollUp()">
    <a (click)="scrollUp()"><i (click)="scrollUp()" class="fa fa-chevron-up"></i></a>
</div>
<!-- End off scroll up -->