<section id="hello" class="home">
    <div class="overlay"></div>
    <div class="row">
        <div class="main_home text-center">
            <div>
                <h1 class="color ancho" style="font-size: 4rem;">Nuestros Servicios</h1>
            </div>
        </div>
    </div>
    <br>
</section>


<section id="gallery" class="gallery margin-top-120 contact fix home">
    <!-- Gallery container-->
    <div class="container medida" style="width: 100%;">

        <div class="row">
            <div class=" roomy-50">

                <h1 class="color text-uppercase mb-3" style="text-align: center;">Reparación de Joyas</h1>
                <br>
                <p style="justify-content: right;">Ofrecemos servicio de reparación de joyería, el cual es realizado por un joyero de tradición utilizando tecnología de punta. Para nosotros es muy importante su satisfacción y que sus joyas tengan una larga vida de uso, por lo cual solo
                    usamos metales preciosos y piedras de la mas alta calidad para todas nuestras fabricaciones y reparaciones. Entre nuestros servicios de reparación se encuentran:</p>


                <ol style="list-style-type:disc; font-size: 1.3rem;">
                    <li>Reparación general de joyas</li>
                    <li>Reducción o ampliación de anillos</li>
                    <li>Limpieza y pulido</li>
                    <li>Rodinado</li>
                    <li>Engaste de piedras naturales y sintéticas</li>
                </ol>

            </div>

        </div>

        <div class="row">
            <h3 class="text-center">Proceso de Reparación</h3>
            <br>
            <div class="col-md-4 col-sm-12 mb-4 tamañoMin">
                <img src="assets/images/jgaleria5.jpg" alt="reparación" style="width: 250px; height: 250px;">
            </div>
            <div class="col-md-4 col-sm-12 mb-4 tamañoMin">
                <img src="assets/images/jgaleria2.jpg" alt="reparación" style="width: 250px; height: 250px;">
            </div>
            <div class="col-md-4 col-sm-12 mb-4 tamañoMin">
                <img src="assets/images/jgaleria3.jpg" alt="reparación" style="width: 250px; height: 250px;">
            </div>
        </div>
    </div>
    <!-- Portfolio container end -->
</section>
<br>
<br>
<!-- End off portfolio section -->


<!-- scroll up-->
<div class="scrollup" (click)="scrollUp()">
    <a (click)="scrollUp()"><i (click)="scrollUp()" class="fa fa-chevron-up"></i></a>
</div>
<!-- End off scroll up -->