<!--Company section-->
<div>
    <section id="company" class="company bg-light">
        <div class="container">
            <div class="row">
                <div class="main_company roomy-100 text-center">
                    <h3 class="text-uppercase">Tejido Dorado.</h3>
                    <p>Calle 22 # 9 - 60 San Jerónimo, Antioquia, Colombia </p>
                    <p> Teléfono: 8582291 - <a href="mailto: joyeriatejidodorado@gmail.com">joyeriatejidodorado@gmail.com</a> </p>
                </div>
            </div>
        </div>
    </section>

    <!-- footer company -->
    <footer id="footer" class="footer bg-mega">
        <div class="container">
            <div class="row">
                <div class="main_footer p-top-40 p-bottom-30">
                    <div class="col-md-12 text-center sm-text-center">
                        <p class="wow fadeInRight text-uppercase" data-wow-duration="1s">
                            &copy; Todos los derechos reservados, Payment Safes S.A.S 2019
                        </p>
                    </div>
                    <!-- <div class="col-md-6 text-right sm-text-center sm-m-top-20">
                  <ul class="list-inline">
                      <li><a href="">Facebook</a></li>
                      <li><a href="">Twitter</a></li>
                      <li><a href="">Instagram</a></li>
                      <li><a href="">Pinterest</a></li>
                  </ul>  -->
                </div>
            </div>
        </div>
    </footer>

</div>