/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
.margen-global {
    margin-top: 20% !important;
}


/* body {
    background-color: rgb(0, 0, 0);
} */

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #B59763;
    text-transform: uppercase;
}

p {
    font-size: 1.2rem;
}

.invalid-feedback {
    color: red;
    margin-bottom: 1%;
}

.cursor {
    cursor: pointer !important;
}