<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 sm-m-top-30 margen-login container-fluid contenedor" style="margin-bottom: 20%;">
    <div class=" boxShadow container backWidth">
        <form class="row container-fluid text-center" [formGroup]="administrador" (ngSubmit)="onSubmit()">
            <br>
            <h1 class="color text-center mt-5">Restauración de contraseña</h1>
            <div class="row">
                <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <label>Email De Restablecimiento *</label>
                    <input id="emailRestoration" formControlName="emailRestoration" name="emailRestoration" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailRestoration.errors }">
                </div>
                <div *ngIf="submitted && f.emailRestoration.errors" class="invalid-feedback">
                    <div *ngIf="f.emailRestoration.errors.required">Email de restablecimiento es requerido</div>

                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 my-3">
                <div class="form-group">
                    <button type="submit" (click)="restoration()" class="btn btn-default">Enviar 
                        <i class="fa fa-long-arrow-right"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>